node_modules
cypress/videos/
cypress/screenshots/
.cache/
CypressCache/
.env
.env.*
.vscode/
*.log
.DS_Store
Thumbs.db
cypress.env.json
cypress.config.local.js
cypress.config.local.ts
cypress.local.config.*
